@page "/fetchwebpage"
@using CampaignKit.Compendium.Helper.Data
@inject DownloadService downloadService
@inject MarkdownService markdownService
@inject IJSRuntime jsRuntime

<!-- Import SimpleMD -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


<script>

    // Interop functions for the SimpleMDE control.
    window.simpleMDEInterop = {

        // Sets the value of window.simplemde to the markdown string passed in as an argument.
        setMarkdown: function (markdown) {
            // Log the markdown value
            console.log("Setting markdown:", markdown.substring(0, 50) + (markdown.length > 50 ? "..." : ""));  // Log the first 50 characters of markdown value, add "..." if there's more
            // Check if the window.simplemde object exists
            if (window.simplemde) {
                // Set the value of window.simplemde to the markdown string
                window.simplemde.value(markdown);
            }
        }
    };

    // Interop functions for the Web Browser control.
    window.webBrowserInterop = {

        // Sets the source of an iframe element to the given URL.
        setIframeSource: function (id, html) {
            // Log the URL
            console.log("Setting html:", html.substring(0, 50) + (html.length > 50 ? "..." : ""));  // Log the first 50 characters of the html value, add "..." if there's more
            // Get the iframe element by its id
            var iframe = document.getElementById(id);
            // Set the source of the iframe to the given url
            iframe.setAttribute('srcdoc', html);
        }
    };

</script>

<PageTitle>Compendium Helper</PageTitle>

<h1>Compendium Helper</h1>

<p>This component demonstrates fetching data from a service.</p>

<div class="row">
    <div class="col-md-12">
        <input type="text" @bind="url" placeholder="Enter web page URL" class="form-control" />
        <button @onclick="LoadWebPageContent" class="btn btn-primary mt-2">Load</button>
    </div>
</div>

<div class="row mt-4" style="align-items: stretch;">
    <!-- Markdown Editor Column -->
    <div class="col-md-6" style="display: flex; flex-direction: column;">
        <textarea id="markdownEditor" class="form-control" style="flex-grow: 1; height: 100%; overflow: auto; box-sizing: border-box;"></textarea>
    </div>

    <!-- Web Browser Control Column -->
    <div class="col-md-6">
        <iframe id="webBrowserControl" style="width: 100%; height: 100%; overflow: auto; box-sizing: border-box;"></iframe>
    </div>
</div>

@code {
    private string url = "https://www.woinrules.com/characters/derived-statistics";

    /// <summary>
    /// Invokes the JavaScript runtime to create a new SimpleMDE instance on the first render.
    /// </summary>
    /// <param name="firstRender">A boolean value indicating whether this is the first render.</param>
    /// <returns>A Task that represents the asynchronous operation.</returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) // Only run on the first render
        {
            await Task.Delay(500); // Delay for 500ms
            await jsRuntime.InvokeVoidAsync("eval", "window.simplemde = new SimpleMDE({ element: document.getElementById('markdownEditor') });");
        }
    }

    /// <summary>
    /// Loads the content of a web page, converts it to markdown and sets it.
    /// </summary>
    /// <returns>
    /// A task that represents the asynchronous operation.
    /// </returns>
    private async Task LoadWebPageContent()
    {
        // Set the markdown to "Loading..."
        await SetMarkdownAsync("# Loading...");

        // Download the web page from the given URL
        var html = await downloadService.GetWebPage(url);

        // Update the iframe's source to the current URL
        await SetHtmlAsync(html);

        // Set the markdown to "Converting..."
        await SetMarkdownAsync("# Converting...");

        // Convert the HTML to markdown
        var markdown = markdownService.ConvertHtmlToMarkdown(html);

        // Set the markdown to the converted markdown
        await SetMarkdownAsync(markdown);
    }

    /// <summary>
    /// Sets the HTML of the browser control.
    /// </summary>
    /// <param name="html">The HTML to set.</param>
    /// <returns>
    /// An asynchronous task that represents the operation.
    /// </returns>
    private async Task SetHtmlAsync(string html)
    {
        await jsRuntime.InvokeVoidAsync("window.webBrowserInterop.setIframeSource", "webBrowserControl", html);
    }

    /// <summary>
    /// Sets the markdown content of the SimpleMDE editor.
    /// </summary>
    /// <param name="markdown">The markdown content to set.</param>
    /// <returns>
    /// An asynchronous task that represents the operation.
    /// </returns>
    private async Task SetMarkdownAsync(string markdown)
    {
        await jsRuntime.InvokeVoidAsync("window.simpleMDEInterop.setMarkdown", markdown);
    }

    /// <summary>
    /// Asynchronously invokes the JavaScript function to get the markdown from the SimpleMDE editor.
    /// </summary>
    /// <returns>
    /// A task that represents the asynchronous operation.
    /// </returns>
    private async Task GetMarkdownAsync()
    {
        await jsRuntime.InvokeVoidAsync("window.simpleMDEInterop.getMarkdown");
    }
}
