@page "/fetchwebpage"
@using CampaignKit.Compendium.Helper.Data
@inject CompendiumService compendiumService

<PageTitle>Compendium Helper</PageTitle>

<h1>Compendium Helper</h1>

<p>This component demonstrates fetching data from a service.</p>

<div class="row">
    <div class="col-md-12">
        <input type="text" @bind="url" placeholder="Enter web page URL" class="form-control" />
        <button @onclick="LoadWebPageContent" class="btn btn-primary mt-2">Load</button>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <textarea @bind="webPageContent" class="form-control" rows="20"></textarea>
    </div>
</div>

@code {
    private string url = "https://oldschoolessentials.necroticgnome.com/srd/index.php/Main_Page";
    private string webPageContent = string.Empty;

    private async Task LoadWebPageContent()
    {
        webPageContent = await compendiumService.GetWebPage(url);
    }
}
