@inherits LayoutComponentBase

<div class="container-fluid">
    <!-- Bootstrap Top Navbar -->
    <NavMenu />

    <!-- Main Content Area -->
    <div class="mt-4">
        @Body
    </div>
</div>

